.proteger {

    margin-top: 20px;

    h1 {

        text-align: center;

        color: #1078AD;

        font-size: 1.87rem;

        margin-top: 20px;
        // text-align: center;
        color: $cbf;
    }



    &_first {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 160px;
        grid-row-gap: 60px;

        margin-top: 20px;

        @include symp {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 40px;
        }


    }

    .proteger_first_one {
        text-align: center;
        grid-area: 1 / 2 / 2 / 3;

        @include symp {
            grid-area: 2 / 2 / 3 / 3;
        }

        img {

            margin-top: 30px;

        }

        h3 {

            font-size: 1.125rem;

            color: #1078AD;

            text-align: center;

        }


    }

    .proteger_first_2 {
        grid-area: 1 / 3 / 2 / 4;
        text-align: center;

        @include symp {
            grid-area: 1 / 2 / 2 / 3;
        }

        h3 {

            font-size: 1.125rem;

            color: #1078AD;

            text-align: center;

        }


    }

    .proteger_first_3 {
        grid-area: 1 / 4 / 2 / 5;
        text-align: center;

        @include symp {
            grid-area: 1 / 3 / 2 / 4;
        }

        h3 {

            font-size: 1.125rem;

            color: #1078AD;

            text-align: center;

        }


    }

    .proteger_first_4 {
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;

        @include symp {
            grid-area: 3 / 3 / 4 / 4;
        }

        h3 {

            font-size: 1.125rem;

            color: #1078AD;

            text-align: center;

        }


    }

    .proteger_first_5 {
        grid-area: 2 / 3 / 3 / 4;
        text-align: center;

        @include symp {
            grid-area: 3 / 2 / 4 / 3;
        }

        h3 {

            font-size: 1.125rem;

            color: #1078AD;

            text-align: center;

        }


    }

    .proteger_first_6 {
        grid-area: 2 / 4 / 3 / 5;
        text-align: center;

        @include symp {
            grid-area: 2 / 3 / 3 / 4;
        }

        h3 {

            font-size: 1.125rem;

            color: #1078AD;

            text-align: center;

        }


    }

}

.proteger_last {



    margin-top: 3.125rem;

    margin-bottom: 3.125rem;



    h3 {

        font-size: 1.125rem;

        color: #1078AD;

        text-align: center;

        margin-top: 1.25rem;

    }



    img {

        margin: 0 auto;

        display: block;

    }

}