.head {
    text-align: center;
    margin-top: 20px;

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



    &_image {
        img {
            @include mobile {
                width: 80%;
            }

            @include tablet1 {
                width: 561px;
            }

            @include desktop {
                width: 661px;
                margin-left: 15px;
                margin-top: 20px;
            }
        }
    }


    &_test {

        @include desktop {
            margin-top: 20px;
        }


        &_title1 {
            color: $cbf;
            font-size: 18px;

            margin-bottom: -5px;

            @include mobile {
                font-size: 14px;
            }

            @include tablet1 {
                font-size: 24px;
            }

            @include desktop {
                font-size: 30px;
            }


        }

        &_title2 {
            color: $cbf;
            font-size: 18px;
            margin: 0 50px 15px 50px;
            line-height: 1.5;
            padding: 0 60px;

            span {
                color: white;

                // pour un point ;)
                @include tablet1 {
                    display: none;


                }

            }

            @include mobile {
                font-size: 14px;
            }

            @include tablet1 {
                font-size: 24px;
                margin: 0 0px 0px 0px;
                padding: 0 60px;
                padding: 0 0px;

            }

            @include desktop {
                font-size: 30px;
            }


        }

        img {
            @include mobile {
                width: 30px;
            }

            @include tablet1 {
                width: 50px;
                margin-top: 5px;
            }

            @include desktop {
                width: 85px;
            }
        }

        p {
            color: grey;
            font-weight: bold;
            font-size: 14px;
            // padding: 20px 30px;

            @include mobile {
                font-size: 14px;
                padding: 10px 2px;
                margin-top: -16px;

            }

            @include tablet1 {
                font-size: 20px;
            }

            @include desktop {
                font-size: 30px;
                line-height: 1.5;
            }
        }
    }

    button {
        width: 80%;
        padding: 10px 0;
        font-weight: 700;
        font-size: 1.5em;
        color: white;
        background: url(../images/vole.png) no-repeat center/COVER;

        border-radius: 3px;
        border: 0;
        margin-bottom: 40px;

    }
}