.navbar {
    background: url(../images/back.png) no-repeat center/cover;
    background-color: $cbb;
    width: 100%;
    //  background-color: ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 1em;
    position: fixed;
    top: 0;

    @include tablet1 {
        height: 92px;
        font-size: 20px;

    }

    @include desktop {
        height: 92px;
        font-size: 20px;
    }


    &_logo {
        margin-right: auto;

        @include tablet1 {
            width: 67px;
            margin-left: 20px;

        }

        @include desktop {
            width: 67px;
            margin-left: 20px;

        }
    }

    ul {
        margin-right: 20px;
        font-weight: bold;

        @include tablet1 {
            font-size: 20px;
            margin-right: 20px;

        }
    }

    li {
        display: inline-block;
        padding: 0 5px;

        @include tablet1 {
            font-size: 20px;
            margin-right: 20px;

        }

        @include desktop {
            font-size: 20px;
            margin-right: 50px;

        }



        a {
            color: $cbf;

        }


    }

    &_button {
        margin: 0 16px;

        button {
            background-color: $cbb;
            color: white;
            border-color: $cbf;
            border-radius: 5px;
            padding: 0 5px;
            border-width: 1px;

        }
    }

}