.foot {

    margin-top: 20px;

    img {
        display: block;

        margin: 0 auto;

    }

    &_maincontact {
        display: flex;
        justify-content: space-around;
        margin-left: 50px;


        &_main {
            &_ul {
                font-size: 16px;
                color: black;

                @include tablet1 {
                    font-size: 20px;
                }

                &_a {

                    button {
                        background-color: white;
                        color: black;
                        border-color: $cbf;
                        border-radius: 5px;
                        padding: 5px  10px;
                        border-width: 1px;
                        font-weight: bold;



 
                    }
                }
            }
        }

        &_contact {
            padding-left: 100px;
            text-align: center;

            @include mobile {
                padding-left: 0px;
            }



            h3 {
                color: $cbf;
                font-size: 10px;
                font-weight: bold;

                @include tablet1 {
                    font-size: 16px;
                }
            }

            P {
                font-size: 10px;
                font-weight: bold;

                span {
                    color: green;
                }

                @include tablet1 {
                    font-size: 14px;
                }
            }





        }




    }


    &_para {
        margin-top: 8px;

        p {
            text-align: center;
            color: grey;
            font-size: 10px;
            font-weight: bold;
            margin: 0 30px 0 30px;

            @include tablet1 {
                font-size: 14px;
            }


        }
    }


}

.end {
    margin-top: 8px;
    width: 100%;
    height: 20px;
    background-color: #1078AD;
    border-radius: 5px 5px 0 0;
}