.recommandations {
    background-color: $cbf;
    text-align: center;
    color: white;
    // font-weight: bold;
    // font-size: 14px;
    border-radius: 5px 5px 0 0;

    h3 {
        margin: 10px;
        padding-top: 20px;
        margin-top: 16px;
        font-size: 12;
        color: #D0E5F0;

        // D0E5F0:COLOR
        @include tablet1 {
            font-size: 30px;
        }

    }


    &_textapp {
        @include desktop {
            display: flex;
            justify-content: space-between;
        }

        &_text {
            @include desktop {
                margin-bottom: 30px;
            }

            p {
                font-size: 14px;

                margin-top: -6px;

                @include tablet1 {
                    font-size: 24px;

                }

                @include desktop {
                    text-align: start;
                    margin-left: 60px;
                }

            }
        }



        &_app {
            margin-top: 16px;

            @include desktop {

                margin-right: 80px;
            }

            &_p1 {

                font-weight: bold;
                color: #F4CF1B;
                font-size: 14px;
                margin: 8px;

                @include tablet1 {
                    font-size: 24px;


                }

                @include desktop {
                    font-size: 30px;
                }
            }

            &_p2 {
                color: $cbf;
                margin: 0 auto;
                width: 148px;
                padding: 8px;
                background-image: url(../images/yellow.png);
                // background-color: #F4CF1B;
                font-size: 1.2em;
                font-weight: bold;
            }

            &_p3 {

                margin-top: 10px;


                @include tablet1 {
                    font-size: 24px;

                }
            }


        }

    }
}





// rgb(243, 237, 237)