.symptomes {
    margin-top: 40px;

    &_title {
        color: $cbf;
        text-align: center;
        margin: 0 100px 0px 100px;
        line-height: 1.2;

        @include tablet1 {
            font-size: 30px;

        }

        @include desktop {
            font-size: 30px;
        }
    }

    &_ilust {
        font-size: 16px;
        font-weight: bold;
        color: black;
        // text-align: center;



        &_first {

            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-left: 20px;

            @include tablet1 {
                font-size: 20px;

            }

            // @include desktop {
            //     display: flex;
            //     justify-content: center;


            // }

            &_fievre {
                @include tablet1 {
                    padding-left: 15px;

                }

                p {
                    @include desktop {
                        font-size: 1.125rem;
                    }
                }

                img {
                    @include desktop {
                        width: 62px;
                    }
                }
            }

            &_nausé {


                P {
                    line-height: 1.3;
                    margin-top: 13px;

                    @include desktop {
                        font-size: 1.125rem;
                    }
                }

                img {
                    margin-top: 15px;
                    // margin-left: 40px;

                    @include desktop {
                        width: 123px;
                    }
                }
            }

        }

        &_second {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-left: 0px;

            @include tablet1 {
                font-size: 20px;

            }

            &_géne {


                p {
                    line-height: 1.3;

                    @include desktop {
                        font-size: 1.125rem;
                    }
                }

                img {
                    @include desktop {
                        width: 159px;
                    }
                }

            }

            &_toux {



                p {
                    line-height: 1.3;
                    margin-top: 3px;

                    @include desktop {
                        font-size: 1.125rem;
                    }
                }

                img {
                    margin-top: 8px;

                    @include desktop {
                        width: 146px;
                    }
                }
            }
        }




    }

}