.warning {
    margin-top: 68px;
    background-color: #F4CF1B;
    padding: 3px 13px;

    @include tablet1 {
        margin-top: 90px;

    }

    @include desktop {
        margin-top: 90px;
    }



    &_info {
        width: 85%;
        text-align: center;
        margin: auto;


        h3 {
            color: $cbf;
            text-transform: uppercase;
            font-size: 15px;

            @include tablet1 {
                font-size: 20px;
                color: black;

            }

            @include desktop {
                font-size: 20px;
            }





        }

        &_all {



            &_para1 {
                padding: 0 10px;
                font-weight: 700;
                font-size: 12px;
                line-height: 1.8;

                @include tablet1 {
                    font-size: 16px;
                    width: 600px;
                    margin: 0 auto;
                    color: $cbf;


                }

                @include desktop {
                    font-size: 16;
                    font-weight: bold;



                }


            }



            &_para2 {
                padding: 0 15px;
                font-weight: 700;
                font-size: 12px;

                @include tablet1 {
                    font-size: 16px;
                    color: $cbf;

                }

                @include desktop {
                    font-size: 16;
                }

            }
        }


    }
}